.receiptWrapper {
  background: black !important;
  max-width: 1000px !important;
  margin: 0 auto !important;
  top: 150px;
  font-size: 18px;
  opacity: 0.8;
}

.sectionDetails {
  display: flex;
  /*justify-content: space-between;*/
  padding: 24px;
  color: #FFFFFF;
}

.sectionDetails > div:first-child  {
  flex: 2;
  display: flex;
}

.sectionDetails > div:last-child  {
  flex: 8;
  margin-left: 75px;
  display: flex;
}

.details {
  background: #21b711;
  color: #FFFFFF;
  height: 60px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.link {
  color: #FFFFFF;
}

.iconClose {
  position: absolute;
  right:18px;
  cursor: pointer;
}
